.container {
  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    &.required {
      &::after {
        content: "*";
        color: var(--red-required);
        margin-left: 4px;
      }
    }
  }

  .input {
    margin-top: 4px;
    height: 48px;
    color: var(--foreground);
    background-color: var(--gray-600);
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-left: 16px;

    &.error {
      border: 1px solid var(--red-required);
    }

    &::placeholder {
      color: var(--gray-500);
    }
  }

  .errorMessage {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--red-required);
  }
}
