:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --border: #2f323e;
  --gray-300: #c6c8d2;
  --gray-400: #858585;
  --gray-500: #7f859f;
  --gray-600: #2f323e;
  --gray-700: #212226;
  --gray-800: #18181b;
  --blue-400: #058cd7;
  --blue-600: #2e7ff1;
  --red-required: #f64d3c;
  --side-bar-width: 14%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-figtree);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
