.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: var(--gray-800);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  z-index: 1001;

  .header {
    padding: 24px 24px 16px 24px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin: 0;
    }

    > div {
      cursor: pointer;
    }
  }

  .content {
    padding: 0 24px;
    flex: 1;
    overflow-y: auto;
  }
}
