.container {
  height: 60px;

  .logo {
    width: var(--side-bar-width);
    height: 100%;
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  .title {
    flex: 1;
    height: 100%;
    border-bottom: 1px solid var(--border);
    padding-left: 20px;

    > h1 {
      margin-left: 12px;
      font-weight: 700;
      font-size: 16px;
    }

    .buttons {
      background-color: var(--gray-700);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 8px;
      height: 32px;
      width: 32px;
    }
  }
}
