.container {
  .contactContainer {
    > div {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 4px;
    }

    .required {
      &::after {
        content: "*";
        color: var(--red-required);
        margin-left: 4px;
      }
    }

    .addContact {
      height: 48px;
      width: 50px;
      border-color: var(--blue-400);
    }

    .selectContacts {
      display: flex;
      justify-content: space-between;
      flex: 1;
      margin-right: 8px;
      height: 48px;
      padding: 0 16px;
      border-radius: 8px;
      background-color: var(--gray-600);
      border-color: var(--gray-600);
      color: var(--gray-500);

      &:hover,
      &:focus {
        background-color: var(--gray-600);
        color: inherit;
      }
    }
  }
}
